@keyframes zoom-out-bounce {
 	from { transform: scale(10); }
	95%  { transform: scale(.8); }
	to   { transform: scale(1); }
}

@keyframes zoom-in-bounce {
 	from { transform: scale(0); }
	90%  { transform: scale(1.2); }
	to   { transform: scale(1); }
}

@keyframes fold-in-left {
 	from { transform: rotateY(-90deg); opacity: 0; }
	to   { transform: rotateY(0deg); opacity: 1; }
}

@keyframes fold-in-right {
 	from { transform: rotateY(90deg); opacity: 0; }
	to   { transform: rotateY(0deg); opacity: 1; }
}

@keyframes pulse {
	from { box-shadow: 0 0 0em hsl(55, 40, 60); }
	to   { box-shadow: 0 0 1em hsl(55, 40, 60); }
}

@keyframes fade-out {
	from { opacity: 1; }
	to   { opacity: 0; }
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes roll-in {
 	from { transform: rotateX(90deg); }
	to   { transform: rotateX(0deg); }
}

@keyframes roll-out {
	from { transform: rotateX(0deg); }
	to   { transform: rotateX(-90deg); }
}

@keyframes tile-exit {
 	from { width: 7.5em; padding: .2em .2em; margin: 1em; border-left: 2px solid #e4dea9; border-right: 2px solid #e4dea9; opacity: 1; }
	to   { width: 0; padding: .2em 0; margin: 1em 0; border-left: 0px solid #e4dea9; border-right: 0px solid #e4dea9; opacity: 0; }
}