.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	.hud {
		flex: 1 0 auto;
		font-size: 2em;
		margin: 1em 0 0;
		animation: fade-in 5s 5s both;
		
		span, a {
			display: inline-block;
			border-radius: 1em;
			padding: .2em .5em .1em;
		}
		
		span {
			margin: 0 2%;
			color: white;
			background: rgba(white, 0.1);
		}
		
		a {
			background: hsla(55, 40, 60, 1);
		}
	}
	
	.main {
		flex: 1 0 auto;
	}
	
	.spacer {
		flex: 1 1 auto;
	}
	
	.prompt {
		font-size: 1.2em;
		
		.pickTheSymbol {
			font-size: 2em;
			animation: roll-in 1s .5s linear both; // Intro animation
		}
		
		.question {
			perspective: 1000px;
			animation: roll-in 1s 1.5s linear both; // Intro animation
			min-height: 3em; // Prevent popping
			
			.flipper {
				h1 {
					display: inline-block;
					padding: .2em .4em .1em;
					background: black;
					color: white;
				}
				
				&.flipOut {
					animation: roll-out .2s ease-in both; // Transition animation
				}
			
				&.flipIn {
					animation: roll-in .1s ease-out both; // Transition animation
				}
			}
		}
	}

	.choices {
		position: relative;
		animation: roll-in .5s 2.5s linear both; // Intro animation
		margin: 0 auto;
		min-height: 10em;
		
		.choice {
			position: absolute;
			transform: translateX(-50%);
			margin: 1em 0;
			top: 0;
			
			&.incorrect, &.correct {
				pointer-events: none;
			}
			
			&.ng-leave {
				animation: tile-exit .4s ease-out both; // Transition animation
			}
			
			&.ng-enter {
				animation: tile-exit .2s reverse ease-out both; // Transition animation
			}
			
			& > span {
				transition: .4s ease all; // Transition animation
			}
		}
	}
}
