.results {
  // The CSS is set up such that if this flex doesn't work for whatever reason, the layout should still look good.
  // Comment-out the following 4 lines to test
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  .incomplete {
    flex: 1 1 auto; // IE Fix
    display: inline-block; // IE10 fix
    margin: 1em;
    padding: 1em;
    background: rgba(black, .5);
    span {
      color: white;
    }
  }
  
  .complete {
    flex: 1 1 auto; // IE Fix
    display: inline-block; // IE10 fix
    font-size: 1.2em;
    margin-top: 2em;
    
    .review {
      display: inline-block;
      width: 30em;
      max-width: 100%;
      padding: 0 1em 1em;
      margin: 1em;
      vertical-align: bottom;
      background: rgba(black, .5);
      
      h1 {
        display: inline-block;
        margin-top: -1em;
        padding: .1em .3em;
        border-bottom: 2px solid white;
        color: white;
        background: black;
      }
      
      .current {
        margin: 1em 0 .5em;
        
        .image {
          display: inline-block;
          vertical-align: middle;
          width: 7.5em;
          max-width: calc(49% - 1em);
          height: 9em;
          margin-right: 1em;
          padding: .2em;
          border: 2px solid #eee;
          background: radial-gradient(ellipse at center, #ddd 0%, #999 100%);
          box-shadow: 5px 5px 15px black;
          
          span {
            display: inline-block;
            width: 100%;
            height: 100%;
          }
        }
        
        .name {
          display: inline-block;
          vertical-align: middle;
          max-width: 49%;
          margin: .4em 0 0;
          font-weight: normal;
          color: #ddd;
        }
      }
      
      .button {
        margin: 1em 0 0;
      }
    }
    
    .feedback {
      display: inline-block;
      margin: 1em;
      padding: 1em;
      vertical-align: bottom;
      background: rgba(black, .5);
      
      .quip {
        color: white;
      }
      
      .stats {
        margin: .5em 0 .2em;
        color: white;
      }
      
      .best {
        font-size: 1.3em;
        margin: .5em;
        color: #ACF;
      }
      
      .button {
        margin: .5em 1em;
      }
    }
  }
}
