<div class="hud">
	<span>{{game.time|time:0}} seconds</span>
	<a class="restart button" ng-click="restart()">Restart</a>
	<span>{{game.choices.length}} left</span>
</div>

<div class="prompt">
	<h2 class="pickTheSymbol">Pick the symbol named</h2>
	<div class="question">
		<div class="flipper" ng-class="flipMode">
			<h1 ng-class="correctness">{{currentAnswer.name}}</h1>
		</div>
	</div>
</div>

<div class="choices">
	<a class="choice" ng-repeat="choice in game.choices | limitTo:difficulty" ng-click="pick(choice, $index)">
		<span ng-class="choice.correctness">
			<span cd-bimg="assets/{{choice.image}}"></span>
		</span>
	</a>
</div>